@charset "utf-8";
/* CSS Document */

/* Website background and FONT */
*{
	background-color: #00000;
	font-family: 'Abel', sans-serif;
}

/* TEXT */
/* HOME - "Kevin Choy" */
#Home p{
	font-size: 80px;	
	text-align: center;
	margin-top: 10%;
	padding: 0;
}

/* POSITIONING BOXES */
/* Menu Sidebar POSITION */
#menu{
	width: 13%;
	height: 100%;
	border-right: solid 1px;
	position: absolute;
}
/* Menu CONTENT POSITION */
#Resume, #Photography{
	position: absolute;
	left: 15%;
	width: 85%;
	height: 100%;
}

#Contact_Me{
	margin-top: 17%;
	position: absolute;
	left: 12%;
	width: 85%;
	height: 100%;
}

#Music_Lessons{
	position: absolute;
	left: 15%;
	width: 39%;
	height: 100%;	
}
/* Music CALENDAR POSITION */
#Music_Lessons2{
	position: absolute;
	left: 55%;
	width: 45%;
	height: 100%;
}

/* ICONS! */
/* Center ICONS in HOME + CONTACT */
#main{
	border: 1;
	position: relative;
	border-spacing: 4% 4% 4% 4%;
	margin: auto;
}

#main td{
	height: 150px;
	width: 150px;
	border-style: solid;
	border-width: 0px;
	border-width: 1px;
}

.all{
	height:150px;
	width:150px;
}

.mail{
	height: 150px;
	width: 140px;
	fill: #00cc00;
}
#contact{
	border: 1;
	position: relative;
	border-spacing: 4% 4% 4% 4%;
	margin: auto;
}

/* ICON = BOX */
td{
	vertical-align:top;
	text-align:center;
	font-size: 24px;

}
/* ICON BORDER */




/*MENU STYLE*/
ul{
	list-style-type: none;
	margin-left: -50px;
}

/*MENU STYLE*/
ul li{
	font-size: 24px;
	margin-bottom: 28px;
	text-align: center;
}
