@charset "utf-8";
/* CSS Document */

*{
	background-color: #00000;
	font-family: 'Abel', sans-serif;

}

#menu{
	width: 13%;
	height: 100%;
	border-right: solid 1px;
	position: absolute;
}

#Home p{
	font-size: 80px;	
	text-align: center;
	padding: 0;
	margin: 0;
}

table{
	margin: auto;
	border: 1;
	border-spacing: 50px 50px 50px 50px;
}

td{
	vertical-align:top;
	text-align:center;
	font-size: 24px;
	height: 150px;
	width: 150px;
}

table td, table th {
    border: 1px solid black;
}

#menu ul li:nth-child(1){
	background-color: #f1f1f1;
}


div{
	position: absolute;
	left: 15%;
	width: 85%;
	height: 100%;
}

#Music_Lessons2{
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
}

ul{
	list-style-type: none;
	margin-left: -50px;
}

ul li{
	font-size: 24px;
	margin-bottom: 28px;
	text-align: center;
}
